<!DOCTYPE html>
<html>
  <head>
    <%- include layout/header %>
  </head>
  <body>
    <h1>welcome.</h1>
    <p style="color:red"><%= err_msg %></p>
    <%- include layout/navbar %>
  </body>
</html>
