<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>teacher</h2>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% dataTeachers.forEach(teacher => { %>
        <tr>
          <td><%= teacher.id %></td>
          <td><%= teacher.first_name %></td>
          <td><%= teacher.last_name %></td>
          <td><%= teacher.email %></td>
          <!-- <td><a href="#">DELETE</a></td>
          <td><a href="#">EDIT</a></td> -->
        </tr>
        <% }) %>
      </tbody>
    </table>
    <br>
    <a href="/">Back</a>
  </body>
</html>
