<% if (session.role == 'headmaster') { %>
  <a href="/">Homepage</a> | <a href="/teachers">Teacher's Page</a> | <a href="subjects">Subject's Page</a> | <a href="/students">Student's Page</a> |
  <% if (session.role) {%>
    <a href="/logout">LOGOUT</a>
  <% } else { %>
    <a href="/login">LOGIN</a>
  <% } %>

<% } else if (session.role == 'academic') { %>
  <a href="/">Homepage</a> | <a href="subjects">Subject's Page</a> | <a href="/students">Student's Page</a> |
  <% if (session.role) {%>
    <a href="/logout">LOGOUT</a>
  <% } else { %>
    <a href="/login">LOGIN</a>
  <% } %>

<% } else if (session.role == 'teacher') { %>
  <a href="/">Homepage</a> | <a href="/students">Student's Page</a> |
  <% if (session.role) {%>
    <a href="/logout">LOGOUT</a>
  <% } else { %>
    <a href="/login">LOGIN</a>
  <% } %>

<% } else { %>
  <a href="/">Homepage</a> |
  <% if (session.role) {%>
    <a href="/logout">LOGOUT</a>
  <% } else { %>
    <a href="/login">LOGIN</a>
  <% } %>
<% } %>
<br><br>
